<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newugo.guider">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--地图要求的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="Android.permission.WRITE_APN_SETTINGS"></uses-permission>

    <application
      android:name=".app.GuiderApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
          android:launchMode="singleTask"
          android:screenOrientation="portrait"
          android:theme="@style/MapActivityTheme"
          android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="1eZXZRpYnkxWZO2LUbRV7XPAvC2Ymnx7" />

        <meta-data android:value="787fd4a273fbbdf403b674d43c40e3e6" android:name="BUG_HD_SDK_GENERAL_KEY" />
    </application>

</manifest>
